@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    src: url(./fonts/montserrat-400.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    src: url(./fonts/montserrat-500.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    src: url(./fonts/montserrat-600.woff2) format('woff2');
    font-display: swap;
}

@font-face {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    src: url(./fonts/montserrat-700.woff2) format('woff2');
    font-display: swap;
}

html {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*,
::after,
::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
}

img {
    border-style: none;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.header {
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 1
}

.header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.menu {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.menu__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__item {
    color: #fff;
    font-size: 17px;
    margin-right: 50px;
    letter-spacing: .85px;
    position: relative;
    text-decoration: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.menu__item:nth-last-child(1) {
    margin-right: 0;
}

.menu__item a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #fff;
    -webkit-transition: width .3s ease-out;
    -o-transition: width .3s ease-out;
    transition: width .3s ease-out;
}

.menu__item :focus:after,
.menu__item a:hover:after {
    width: 100%;
}

.burger-btn {
    position: fixed;
    right: 15px;
    display: none;
    width: 40px;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.burger-btn div {
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.burger-btn.active .line-1 {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 10%;
    left: 0;
    width: 40px;
}

.burger-btn.active .line-2 {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.burger-btn.active .line-3 {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10%;
    left: 0;
    width: 40px;
}

.menu.active {
    background-color: #000;
    opacity: .8;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
}

.menu__item.active {
    margin-right: 0;
    margin-bottom: 30px;
}

.menu__item.active a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 0;
    height: 2px;
    background-color: #1e82f5;
    -webkit-transition: width .3s ease-out;
    -o-transition: width .3s ease-out;
    transition: width .3s ease-out;
}

.menu__item.active a:hover:after,
.menu__item.active:focus:after {
    width: 100%;
}

.top__btn.active {
    z-index: 0;
}

.top {
    width: 100%;
    padding-top: 285px;
    padding-bottom: 50px;
    color: #fff;
    background: url(images/header-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.top__name {
    position: absolute;
    top: -160px;
    left: 8px;
    font-size: 132px;
    font-weight: 800;
    text-transform: uppercase;
    opacity: .2;
}

.top__box {
    margin-left: 100px;
}

.top__title {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}

.top__text {
    display: inline-block;
    font-size: 22px;
    letter-spacing: .85px;
    margin-bottom: 50px;
    padding-left: 55px;
    position: relative;
}

.top__text::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    width: 30px;
    height: 2px;
    background-color: #fff;
}

.top__btn {
    position: relative;
}

.top__btn::before {
    content: "";
    position: absolute;
    background-image: url(images/btn-border.webp);
    left: 4px;
    top: 15px;
    width: 220px;
    height: 50px;
    z-index: 1;
}

.top__btn a {
    position: relative;
    background-color: #2763fb;
    font-size: 17px;
    padding: 20px 35px 18px 35px;
    margin-bottom: 125px;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
    z-index: 2;
}

.top__btn a:hover {
    -webkit-transform: translate(-2px, -4px);
    -ms-transform: translate(-2px, -4px);
    transform: translate(-2px, -4px);
}

.top__social {
    position: absolute;
    right: 0;
    bottom: 0;
}

.top__social-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px;
}

.top__social-item {
    margin-right: 25px;
}

.top__social-item:nth-last-child(1) {
    margin-right: 15px;
}

.bg-main {
    background-image: url("images/bg-main.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    position: relative;
}

@media (max-width:1024px) {
    body.lock {
        overflow: hidden;
    }

    .burger-btn {
        display: block;
        z-index: 999;
    }

    .menu {
        position: fixed;
        top: -100%;
    }

    .menu__items {
        flex-direction: column;
        align-items: center;
        margin-top: 40vh;
    }

    .menu__item {
        font-size: 36px;
    }

    .top__box {
        margin-left: 20px;
    }

    .top__name {
        left: 5%;
        font-size: 115px;
    }

    .gallary__wrapper {
        column-count: 2;
    }
}

@media (max-width:640px) {
    body.lock {
        overflow: hidden;
    }

    .burger-btn {
        display: block;
        z-index: 999;
    }

    .menu {
        position: fixed;
        top: -100%;
    }

    .menu__items {
        flex-direction: column;
        align-items: center;
        margin-top: 32vh;
    }

    .menu__item {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .menu__item a::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 16px;
        width: 0;
        height: 2px;
        background-color: #1e82f5;
        transition: width .3s ease-out;
    }

    .menu__item a:hover:after,
    .menu__item:focus:after {
        width: 100%;
    }

    .top {
        padding-top: 210px;
    }

    .top__name {
        font-size: 56px;
        left: 2%;
        top: -85px;
    }

    .top__box {
        margin-left: 0;
    }

    .top__title {
        font-size: 37px;
    }

    .top__text {
        font-size: 15.7px;
    }

    .top__btn {
        margin-bottom: 15px;
    }

    .top__btn::before {
        right: 25px;
    }

    .top__btn a {
        margin-bottom: 130px;
    }

    .top__social {
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
    }

    .top__social-items {
        justify-content: space-between;
    }

    .gallary__wrapper {
        column-count: 1;
    }
}